.body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 1em;
  padding: 1em;
}

.tv {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 85%;
  width: 100%;
  border-radius: 2%;
  padding: 10px;
}
.screenTv {
  background-color: rgb(47, 47, 57);
  display: grid;
  height: 100%;
  width: 100%;
  border-radius: 2%;
}

.remote {
  background: grey;
  flex-direction: row;
  grid-template-rows: 15% 30% 55%;
  border-radius: 5%;
  width: 75%;
  height: 90%;
}
.topRemote {
  flex-direction: row;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: grey;
  border-radius: 50%;
  justify-content: space-around;
}
.powerOnOff {
  background-color: rgb(198, 65, 65);
  border-radius: 25%;
  width: 3em;
  height: 3em;
}
/* .onOff {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-content: space-around;
  margin: auto;
} */
.homeBtn {
  background-color: rgb(56, 56, 161);
  border-radius: 25%;
  width: 3em;
  height: 3em;
}
.midRemote {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  display: grid;
  align-content: space-around;
  margin: auto;
}
.vol {
  justify-content: space-around;
  width: 100%;
  height: 50%;
}
.channel {
  justify-content: space-around;
  width: 100%;
  height: 50%;
}
.bottomRemote {
  background-color: rgb(109, 109, 109);
  height: 100%;
  width: 100%;
  border-radius: 5%;
  row-gap: 10%;
  margin-inline: 1px;
}
